.color {
    border: 1px solid black;
    display: inline-block;
    padding: 40px;
}

#paleta1 {
   background-color: black;
}

#paleta2 {
    
}

#paleta3 {
  
}

#paleta4 {
  
}

.pixel {
    border: 1px solid black;
    display: inline-block;
    padding: 40px;
    height: 40px;
    width: 40px;
    background-color: white;
}